<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>111</h1>
<!--<img src="http://www.testtp50.com/index.php/public/uploads/20191123/9a73d32bbac7f1cae32e8b4735c75dc4.jpg">-->
<!--<img src="http://www.testtp50.com/index.php/public/uploads/20191123/9a73d32bbac7f1cae32e8b4735c75dc4.jpg">-->
<img src="../../../public/uploads/20191123/9a73d32bbac7f1cae32e8b4735c75dc4.jpg">
<!--<img src="../9a73d32bbac7f1cae32e8b4735c75dc4.jpg">-->
<img src="/Users/ljz/Documents/study/tp50/public/uploads/20191123/9a73d32bbac7f1cae32e8b4735c75dc4.jpg">

</body>
</html>